body {
	font-size: 100%;
	background-color: #2E4A52;
}

head {
	background-color: #2E4A52;
	color: #90E7FF;
}

h1 {
	color: #9DE7FF;
}

nav {
	width: 20%;
	float: left;
	padding: 0 .25em;
	background-color: #2E4A52;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	color: #DCF8FF;
}

p {
	margin: 0;
	margin-bottom: 1em;
	background-color: #2E4A52;
	color: #DCF8FF;
}

h2 {
	margin: 0;
	margin-bottom: 1em;
	background-color: #2E4A52;
	color: #90E7FF;
}

#mainColumn {
	margin: 0 auto;
	width: 90%;
	background-color: #2E4A52;
}

#content {
	float: left;
	width: 75%;
	padding: 0 1em;
	background-color: #2E4A52;
	color: #DCF8FF;
}
#content figure {
	float: right;
	margin: 0 1em;
	background-color: #2E4A52;
	color: #DCF8FF;
}

a {
	color: #73B9CC;
}
